/* header */
.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  &__justify-row {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

@media (width <= 450px) {
  .header {
    &__justify-row {
      flex-wrap: nowrap;
    }
  }
}
